/**/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid var(--app-blue-primary-disabled); */
  box-shadow: 2.5px 2.5px 5px var(--neutral-dark-2);
  padding: 15px 20px;
  color: var(--app-blue-primary);
}

.header h1 {
  color: var(--app-blue-primary);
}

.viewPicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewPicker span {
  color: #777;
}

.viewPicker select {
  font-weight: bold;
  margin-left: 15px;
  padding: 5px 20px;
  background-color: var(--neutral-light-2);
  border-color: var(--neutral-dark-3);
}

.viewPicker select option {
  font-size: 14px;
}